<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Конвертер</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <div id="myId">My Website</div>
        <ul class="menu">
          <li>
            <a href="#">О себе</a>
            <ul>
              <li><a href="#">Студент, учусь, тестирую</a></li>
            </ul>
          </li>
          <li><a href="#">Для чего этот сайт?</a>
            <ul>
              <li><a href="#">Попробовать парсинг</a></li>
            </ul>
          </li>
          <li><a href="#">Приветствие</a>
            <ul>
              <li><a href="#">Категорически приветсвую</a></li>
            </ul>
          </li>
        </ul>
    </header>
    <div> </div>
    <div class="logo">Конвертер</div>
    <div> </div>
    <form method="POST" action="/">
      <select id="from" name="from">
        <option value="usd">Доллар США (USD)</option>
        <option value="eur">Евро (EUR)</option>
        <option value="grn" selected>Гривна (UAN)</option>
      </select>
      <select id="to" name="to">
        <option value="usd" selected>Доллар США (USD)</option>
        <option value="eur">Евро (EUR)</option>
        <option value="grn">Гривна (UAN)</option>
      </select> <br>
      <div class="output">
        {% if from_currency %}
        <span class="output-value">{{ from_currency }}</span>
        {% endif %} 
      </div>
      <label for="number-input" style="color: white;">Введите число:</label>
      <input type="number" id="number-input" name="number" step="0.01"> <br>
      <div class="output">
      {% if result %}
        <span class="output-value">{{ result }}</span>
      {% endif %}
      </div>
      <button type="submit" class="atuin-btn convertButton">Конвертировать</button>
    </form>
  </body>
</html>
