<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Конвертер</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <div id="myId">My Website</div>
      <nav left: -20px>
        <ul>
          <li><a href="#">О себе</a></li>
          <li><a href="#">Для чего этот сайт?</a></li>
          <li><a href="#">Приветствие</a></li>
        </ul>
      </nav>
    </header>
    <div class="logo">Конвертер</div>
    <form method="POST" action="/">
      <select id="from" name="from">
        <option value="usd">Доллар США (USD)</option>
        <option value="eur">Евро (EUR)</option>
        <option value="grn">Гривна (GRN)</option>
      </select>
      <select id="to" name="to">
        <option value="usd">Доллар США (USD)</option>
        <option value="eur">Евро (EUR)</option>
        <option value="grn">Гривна (GRN)</option>
      </select>
      <button type="submit" class="atuin-btn convertButton">Конвертировать</button>
    </form>
    {% if from_currency %}
    <h1>{{ from_currency }}</h1>
    {% endif %}
  </body>
</html>
